.header {
   background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
   background-repeat: no-repeat;
   background-size: 105%;
   background-position: 25%;
   height: 65vh;
   padding: 10px;
   margin-bottom: 3%;
}

.welcome-text {
   color: white;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: space-around;
   width: 100vw;
   margin-top: 5%;
   font-size: 2em;
   line-height: 5%;
   font-style: bold;
}

button {
   border: none;
   margin-top: 5%;
   background-color: #fecc00;
   color: white;
   width: 15vw;
   height: 8vh;
   border-radius: 5px;
}

button:hover {
   cursor: pointer;
   background-color: #dab315;
}