.header {
   background-image: url(https://startbootstrap.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: 25%;
   height: 65vh;
   padding: 10px;
   margin-bottom: 3%;
   margin-left: -1%;
}

.welcome-text {
   color: white;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: space-around;
   width: 100vw;
   margin-top: 5%;
   font-size: 2em;
   line-height: 5%;
}

.header-button {
   border: none;
   margin-top: 3%;
   background-color: #fecc00;
   color: white;
   width: 200px;
   height: 75px;
   border-radius: 5px;
   font-size: 15px;
}

.header-button:hover {
   cursor: pointer;
   background-color: #dab315;
}

@media (max-width: 770px) {
   .header {
      height: 40vh;
   }
   .welcome-text {
      font-size: 1.5em;
   }
}